/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-06-2018, 23:28:05
    Author     : Daniel GS
*/

body {
    /* The image used */
    background-image: url(https://webgradients.com/public/webgradients_png/164%20Strict%20November.png);
    opacity: 0.7;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

div.image {
    background-image:url(https://webgradients.com/public/webgradients_png/026%20Saint%20Petersburg.png);
    opacity: 1 !important;
    border-radius: 5px;
    width: 40%;
    height: 430px;
}

.logo{
    content:url(../css/img/logo.png);
    max-width: 150px; 
    max-height: 150px;
    display: block;
    margin-left: 100px;
    margin-right: auto 
}
.outer-div
{
    padding: 30px;
}
.inner-div
{
    display: inline-block;
    padding: 50px;
}


input{
    opacity: 1 !important;
}

input:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}